@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
@custom-variant cell (& :where(th,td));

@theme {
    --color-primary-main: #0b6dc5;
    --color-primary-dark: #0d60a6;
    --color-primary-light: #1f9ef8;
    --color-secondary-main: #ffbb00;
    --color-secondary-dark: #e5a800;
    --color-title-text: #151515;
    --color-primary-text: #333333;
    --color-secondary-text: #838383;
}

@layer base {
    div,
    ul,
    ol,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    span,
    a,
    label {
        color: var(--color-primary-text);
    }
    h1 {
        font-size: var(--text-3xl);
    }
    h2 {
        font-size: var(--text-2xl);
    }
    h3 {
        font-size: var(--text-xl);
    }
    h4 {
        font-size: var(--text-base);
    }
    h5 {
        font-size: var(--text-sm);
    }
    h6 {
        font-size: var(--text-xs);
    }
}

@utility checkbox-* {
    height: calc(var(--spacing) * 5);
    width: calc(var(--spacing) * 5);
    appearance: none;
    border-radius: var(--radius-sm);
    border-style: var(--tw-border-style);
    border-width: 2px;
    border-color: var(--color-gray-200);
    position: relative;
    cursor: pointer;
    &:checked {
        background-color: --value(--color- *);
        border-color: --value(--color- *);
    }
    &:checked::after {
        content: "";
        background-image: url("/checkmark.svg");
        width: calc(var(--spacing) * 4);
        height: calc(var(--spacing) * 4);
        position: absolute;
        top: 0;
    }
    &:not(:checked):hover {
        border-color: var(--color-gray-300);
    }
}

.react-colorful__saturation {
    border-radius: var(--radius-sm) var(--radius-sm) 0 0 !important;
}

.react-colorful__last-control {
    border-radius: 0 0 var(--radius-sm) var(--radius-sm) !important;
}
